.list-toolbar {
  margin-right: 16px;
  margin-bottom: 16px;
  .btn {
    margin-right: 5px;
    margin-left: 5px;
  }
}

#catalog-grid {
  padding-left: 16px !important;
}

// lvlDragDrop

.lvl-over {
  border: 2px dashed black !important;

}

.lvl-target {
  background-color: #ddd;
  opacity: .5;
}

[draggable] {
  cursor: move;
}

.item-list-drag-arrow {
  padding-left: 18px;
  padding-top: 8px;
}

#details-view {
  margin: 40px !important;
  border-width: 1px;
  border-color: $gray-lighter;

  #item-image {
    border-width: 1px;
    border-color: $gray-lighter;

  }
}
