extends ../_default

block content
  .container-fluid#listApp(ng-controller='listManagerCtrl')
    .row-fluid
      .col-md-3#catalogGrid
        //.dragMe(x-lvl-draggable='true') drag me!
        //.dropOnMe.pull-right(x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl)') drop zone
        .row.list-toolbar(ng-controller='catalogToolbarCtrl')
          button.btn.btn-large.btn-primary.pull-right(type='button', ng-click='copyCatalogAction()',
              ng-disabled='state.catalogs.selected.length === 0')
            i.fa.fa-copy
          button.btn.btn-large.btn-warning.pull-right(type='button', ng-click='removeCatalogAction()',
              ng-disabled='!state.catalogs.selectionDeletable || state.catalogs.selected.length === 0')
            i.fa.fa-minus
          button.btn.btn-large.btn-primary.pull-right(type='button', ng-click='addCatalogAction()')
            i.fa.fa-plus
        .row(ng-controller='catalogListCtrl')
          .listCatalogStyle(ui-grid='catalogView', ui-grid-selection, ui-grid-edit)
      .col-md-8.col-md-offset-1#itemGrid
        .row.list-toolbar(ng-controller='itemToolbarCtrl')
          button.btn.btn-large.btn-primary.pull-right(type='button', ng-click='copyItemAction()',
              ng-disabled='state.items.selected.length === 0')
            i.fa.fa-copy
          button.btn.btn-large.btn-warning.pull-right(type='button', ng-click='removeItemAction()',
              ng-disabled='!state.items.selectionDeletable || state.items.selected.length === 0')
            i.fa.fa-minus
          button.btn.btn-large.btn-primary.pull-right(type='button', ng-click='addItemAction()')
            i.fa.fa-plus
        .row(ng-controller='itemListCtrl')
          .listGridStyle(ui-grid='itemView', ui-grid-selection, ui-grid-edit)