.list-toolbar {
  margin-right: 16px;
  margin-bottom: 16px;
  .btn {
    margin-right: 5px;
    margin-left: 5px;
  }
}

#catalogGrid {
  padding-left: 16px !important;
}

// lvlDragDrop

.lvl-over {
  border: 2px dashed black !important;

}

.lvl-target {
  background-color: #ddd;
  opacity: .5;
}

[draggable] {
  cursor: move;
}

.item-list-drag-arrow {
  padding-left: 18px;
  padding-top: 8px;
}
