#details-view.well
  .row(ng-show='currentItem')
    .col-md-8
      div(editable-text='currentItem.name', onaftersave='update()') {{currentItem.name}}
      div(editable-text='currentItem.weight', onaftersave='update()') {{currentItem.weight}}
      div(editable-text='currentItem.category', onaftersave='update()') {{currentItem.category}}
    .col-md-3.pull-right
      .row
        #item-image.well.well-lg
          div(ng-hide='currentItem.imageID === ""')
            .row
              img(ng-src='{{currentImage}}')
            .row
              button.btn.btn-primary(ngf-select, ng-model='imageFile', ngf-change='onFileSelect($files)',
                accept='image/*') Upload image
          #image-upload(ng-hide='currentItem.imageID !== ""')
            .row
              button.btn.btn-primary(ngf-select, ng-model='imageFile', ngf-change='onFileSelect($files)',
                accept='image/*') Upload image
            .row
              .drop-box(ngf-drop, ng-model='files', ngf-drag-over-class='dragover',
                ngf-accept="'image/*'", ngf-change='fileDropped($files, $event, $rejectedFiles)'
                ) Drop image file