#details-view.well
  .row(ng-show='currentItem')
    .col-md-9
      #item-settings.well.well-lg
        div name:&nbsp
          span(editable-text='currentItem.name', onaftersave='updateCategory()') {{currentItem.name}}
        div weight:&nbsp
          span(editable-text='currentItem.weight', onaftersave='updateCategory()') {{currentItem.weight}}
        div category:&nbsp
          span.btn-group.dropup(dropdown, dropdown-append-to-body)
            a(href, dropdown-toggle) {{currentItem.category || 'none'}}
            ul.dropdown-menu(role='menu')
              li(ng-repeat='category in categories')
                a(href='#', ng-click='selectCategory(category.name)') {{category.name}}
              li.divider
              li
                a(href='#', ng-click='addNewCategory()') Add new category
              li
                a(href='#', ng-click='manageCategories()') Manage categories
    .col-md-3.pull-right
      #item-image.well.well-lg
          div(ng-hide='currentItem.imageID === ""')
            .row
              img(ng-src='{{currentImage}}')
            .row
              button.btn.btn-primary(ngf-select, ng-model='imageFile', ngf-change='onFileSelect($files)',
                accept='image/*') Upload image
          #image-upload(ng-hide='currentItem.imageID !== ""')
            .row
              button.btn.btn-primary(ngf-select, ng-model='imageFile', ngf-change='onFileSelect($files)',
                accept='image/*') Upload image
            .row
              .drop-box(ngf-drop, ng-model='files', ngf-drag-over-class='dragover',
                ngf-accept="'image/*'", ngf-change='fileDropped($files, $event, $rejectedFiles)'
                ) Drop image file