#details-view {
  font-size: 5rem;
  min-height: 5em;
  text-align: center;

  #item-image {
    min-height: 4em;
    min-width: 4em;
    padding-top: 1em;

    img {
      max-width: 3.5em;
//      margin-bottom: 1em;
    }
  }
}
