#details-view {
  font-size: 5rem;
  min-height: 5em;
  text-align: center;

  #item-image {
    min-height: 4em;
    min-width: 4em;
    padding-top: 1em;

    img {
      max-width: 280px;
//      margin-bottom: 1em;
    }

    #image-upload {
      font-size: 2rem;
      .drop-box {
        font-size: 2rem;
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 200px;
        height: 65px;
        text-align: center;
        padding-top: 12px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
      }
      .dragover {
        border: 5px dashed blue;
      }
    }
  }
}
