.container-fluid.image-menu
  .row
    .col-md-4.image-in-menu(ng-repeat='image in images')
      a(href='#')
        img(src='{{image.filePath}}', ng-click='selectItemImage(image)')
        span
          button.btn.btn-primary.btn-xs.delete-image(ng-click='deleteImage(image)')
            i.fa.fa-remove