.row.list-toolbar
  button.btn.btn-large.btn-primary.pull-right(type='button', ng-click='copyItemsAction()',
  ng-disabled='nothingSelected')
    i.fa.fa-copy
  button.btn.btn-large.btn-warning.pull-right(type='button', ng-click='deleteItemsAction()',
  ng-disabled='!selectionDeletable || nothingSelected')
    i.fa.fa-minus
  button.btn.btn-large.btn-primary.pull-right(type='button', ng-click='addItemsAction()')
    i.fa.fa-plus